<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
  <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
    <div class="navbar-inner">
      <a class="brand" ><img src="/assets/themes/images/logo.png" alt="Bootsshop"/></a>
      <form class="form-inline navbar-search" method="post" action="products.html" >
      <input id="srchFld" class="srchTxt" type="text" />
        <select class="srchTxt">
        <option>All</option>
        <option>CLOTHES </option>
        <option>FOOD AND BEVERAGES </option>
        <option>HEALTH & BEAUTY </option>
        <option>SPORTS & LEISURE </option>
        <option>BOOKS & ENTERTAINMENTS </option>
      </select>
        <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
      </form>
      <ul id="topMenu" class="nav pull-right">
     <li class=""><a>Specials Offer</a></li>
     <li class=""><a>Contact</a></li>
     <li class=""><a href="/register">Register</a></li>
     <li class="">
     <a (click)="displayLoginModal()" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>

     <div id="login" [style]="showLoginModal ? 'display:block;' : 'display:none'"  class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
        <div class="modal-header">
        <button type="button" (click)="showLoginModal = false" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3>Login Block</h3>
        </div>
        <div class="modal-body">

        <form #loginForm="ngForm" (ngSubmit)="login()" class="form-horizontal loginFrm" autocomplete="off">
          <div class="control-group">
          <input type="text" [(ngModel)]="loginUser.emailOrUserName" #emailOrUserName="ngModel" name="emailOrUserName" required email placeholder="Email" autocomplete="off">
            <span style="color:darkred" *ngIf="emailOrUserName.errors?.['required'] && emailOrUserName.touched">&nbsp;&nbsp;*Email Or Username is required</span>
          </div>

          <div class="control-group">
          <input type="password" [(ngModel)]="loginUser.password" #password="ngModel" name="password" required placeholder="Password" autocomplete="off">
          <span style="color:darkred" *ngIf="password.errors?.['required'] && password.touched">&nbsp;&nbsp;*Password is required to login</span>
          </div>
          <div class="control-group">
          <label class="checkbox">
          <input type="checkbox"> Remember me
          </label>
          </div>
        </form>
        <button type="submit" (click)="login()" class="btn btn-success">Sign in</button>
        <button class="btn" (click)="showLoginModal = false" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    </li>
      </ul>
    </div>
  </div>


  <div *ngIf="showLoginErrorToast && !loggedUserReceived" class="fixed-message-toast">
<div class="span4">
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> Invalid credentials...
      </div>
</div>
  </div>

  <div *ngIf="showLoginSuccessToast && loggedUserReceived" class="fixed-message-toast">
    <div class="span4">
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Logged In !</strong> You are logged in successfully
          </div>
    </div>
      </div>
